@page
@model GoogleTrends.RazorSite.Pages.TrendsApi.ExploreModel
@{
    ViewData["Title"] = Model.SearchQuery;
}

<style>
    .noBar::-webkit-scrollbar {
        display: none;
    }

    .noBar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>

<div class="position-fixed w-25 h-75 overflow-hidden" style="top: 10%; left: 5%">
    <h2 class="display-4">Related Queries</h2>
    <hr />
    <div class="w-100 h-75 overflow-scroll noBar">
        @foreach (var relatedQuery in @Model.RelatedQueries.SelectMany(i => i.RankedKeywords))
        {
            <p><a href="@relatedQuery.Link">@relatedQuery.Query - @relatedQuery.FormattedValue</a></p>
            <hr />
        }
    </div>
</div>

<div class="position-fixed w-25 h-75 overflow-hidden" style="top: 10%; left: 35%">
    <h2 class="display-4">Related Topics</h2>
    <hr />
    <div class="w-100 h-75 overflow-scroll noBar">
        @foreach (var relatedTopic in @Model.RelatedTopics.SelectMany(i => i.RankedKeywords))
        {
            <p><a href="@relatedTopic.Link">(@relatedTopic.Topic.Type) @relatedTopic.Topic.Title - @relatedTopic.FormattedValue</a></p>
            <hr />
        }
    </div>
</div>

<div class="position-fixed w-25 h-75 overflow-hidden" style="top: 10%; left: 65%">
    <h2 class="display-4">Geographical Trends</h2>
    <hr />
    <div class="w-100 h-75 overflow-scroll noBar">
        @foreach (var geoMap in @Model.GeoMapData.OrderByDescending(i => i.Value.FirstOrDefault()).Take(25))
        {
            if (geoMap.Value.FirstOrDefault() == 0)
            {
                continue;
            }
            <p>(@geoMap.GeoCode) @geoMap.GeoName - @geoMap.Value.FirstOrDefault()</p>
            <hr />
        }
    </div>
</div>