@page
@model GoogleTrends.RazorSite.Pages.TrendsApi.ExploreModel
@{
}

<style>
    .noBar::-webkit-scrollbar {
        display: none;
    }

    .noBar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>

<div class="position-fixed w-25 h-75 overflow-hidden" style="top: 10%; left: 5%">
    <h2 class="display-4">Related Queries</h2>
    <hr />
    <div class="w-100 h-75 overflow-scroll noBar">
        @foreach (var relatedQuery in @Model.RelatedQueriesResponse.RankedList.SelectMany(i => i.RankedKeywords))
        {
            <p><a href="@relatedQuery.Link">@relatedQuery.Query - @relatedQuery.FormattedValue</a></p>
            <hr />
        }
    </div>
</div>

<div class="position-fixed w-25 h-75 overflow-hidden" style="top: 10%; left: 35%">
    <h2 class="display-4">Related Topics</h2>
    <hr />
    <div class="w-100 h-75 overflow-scroll noBar">
        @foreach (var relatedTopic in @Model.RelatedTopicsResponse.RankedList.SelectMany(i => i.RankedKeywords))
        {
            <p><a href="@relatedTopic.Link">(@relatedTopic.Topic.Type)@relatedTopic.Topic.Title - @relatedTopic.FormattedValue</a></p>
            <hr />
        }
    </div>
</div>