@page
@model GoogleTrends.RazorSite.Pages.TrendsApi.RelatedQueriesModel
@{
}

<div class="text-center">
    @foreach (var rankedSearch in @Model.RelatedQueriesResponse.RankedList)
    {
        <h1 class="display-4">
            Ranked Keywords: @rankedSearch.RankedKeywords.Count
        </h1>

        @foreach (var rankedKeyword in @rankedSearch.RankedKeywords)
        {
            <p class="lead">Query: @rankedKeyword.Query</p>
            <p class="lead">FormattedValue: @rankedKeyword.FormattedValue</p>
            <p class="lead">Value: @rankedKeyword.Value</p>
        }

        <hr />
    }
</div>